@media only screen and (max-width:500px ){
	span {
    display: inline-block;
    margin: 5px 70px;
	}	
		img {
	    max-width: 100%;
	}
}
*{
	box-sizing: border-box;
}

img {
    max-width: 100%;
}
.warp{
max-width: 1100px;
margin: auto;
}
#menu{
	font-family: sans-serif;
	background: grey;
	max-width: 1100px;
	margin: 10px 0px;
	padding-left: 11%;
}
#menu a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}
span {
    display: inline-block;
    margin: 27px 70px;
}
.col{
	float: left;
	max-width: 100%;
	margin-bottom: 15px;
	padding: 2px;
	border: 1px solid gray;
}

#menu a:hover{
	color: red;
}
