*{
	box-sizing: border-box;
}
.web{
max-width: 1100px;
margin: auto;
}
#menu{
	font-family: sans-serif;
	background: grey;
	padding: 20px;
	max-width: 1100px;
}
#menu a {
	text-decoration: none;
	color: white;
	padding: 65px;
	font-size: 20px;
}
#menu a:hover{
	color: red;
}


.header{
width: 10%;
}
.img1{
	float: left;
	width:33.33%;
	margin-top: 15px;
	border: 1px solid gray;
	padding: 2px;
	height: 206px;
}
.img1:hover{
	border: 3px solid blue;
}
	