body{
	text-align: center;
	max-width: 300px;
	margin: auto;
}
p{
	text-align: center;
    width: 100%;
    background-color: #D1C86B;
    margin-top: 60px;
}
#main_content{
	
    background-color: #D1C86B;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -30px;
}
.content1{
	text-align: center;
	margin-bottom: 5px;
	width: 22%;
}
div#row1 {
    float: left;
    margin-left: 12px;
}
.content2 {
    width: 66px;
}
div#row2 {
    float: right;
    margin-right: 11px;
}
.content3 {
    height: 49px;
    width: 67px;
}
div#row3 {
    margin-left: 3.1%;
    float: none;
    margin-top: 28px;
}
.content4 {
    text-align: center;
    margin-bottom: 5px;
    width: 66px;
}

.Equal{
	width: 92%;
    margin: 10px;
    text-align: center;   
    font-weight: bold;
}
@keyframes color{
	0%{color: #EF7126}
	20%{color: red}
	40%{color: #F8DEBD}
	60%{color: #44B3C2}
	80%{color: #9F6164}
	100%{color: #218C8D}}
h1{
	font-family: serif;
	animation:color 5s linear infinite;
	font-size: 50px; 
}