*{
	box-sizing: border-box;
}
body{
	width: 900px;
	margin: auto;
}
table {
    border-collapse: collapse;
}
caption {
    display: table-caption;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
td {
    padding-left: 13px;
    padding-bottom: 3px;
    padding-top: 4px;
}
th {
    padding-bottom: 5px;
    padding-top: 5px;
}
tr:hover {
    color: red;
    background: gainsboro;
}
table, th, td {
    border: 1px solid black;
}