.App {
    width: 1360px;
    background-color: $background-PC;
}

.header {
    width: $width-css-pc;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-PC;
    color: $textColor;
    &__left{
        img{
            width: 146px;
            height: 26px;
            cursor: pointer;
        }
    };
    &__center{
        &__input{
            padding-left: 20px;
            width: 372px;
            height: 37px;
            border-radius: 5px;
            outline: none;
            border: none;
        }
        img{
            width: 146px;
            height: 26px;
        }
        svg{
            background-color: white;
            color: #666666;
            font-weight: bold;
            border-radius: 5px;
            height: 39px;
            width: 31px;
            right: 36%;
            position: absolute;
            padding-right: 10px;
            cursor: pointer;

        }
    };
    &__right{
        display: flex;
        &__info{
            padding-right: 20px;
            cursor: pointer;
            display: flex;
            svg{
                color: $color-primary-white;
            }
            span {
                padding-left: 5px;
                display: inline-block;
            }
        }
        &__fanpage{
            padding-right: 20px;
            cursor: pointer;
            display: flex;
            svg{
                color: $color-primary-white;
            }
            span {
                padding-left: 5px;
                display: inline-block;
            }
        }
    }
}