
.product__img{
  width: 700px;
  position: relative;
  img{
    height: 100%;
    width: 100%;
  }
  .panel-collapse {
    position: absolute;
    width: 700px;
    bottom: -10px;
    background: #1a1818eb;
    display: flex;
    justify-content: center;
    button {
      height: 30px;
      border-radius: 5px;
      border: none;
      font-weight: 700;
      color: $color-primary-white;
      background-color: #999999;
      cursor: pointer;
  }
  }
  .panel-close{
    height: 0;
    button {
      height: 30px;
      border-radius: 5px;
      border: none;
      font-weight: 700;
      color: $color-primary-white;
      background-color: #999999;
      cursor: pointer;
      margin-left: 44%;
  }
  }
}
.product {
  width: 700px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: row;
    &__left {
      position: relative;
      height: 364px;
      width: 269px;
      img {
        height: 364px;
        width: 269px;
      }
      .btn {
        position: absolute;
        bottom: 0px;
        display: flex;
        background-color: #1c0706a1;
        padding: 15px 0px 13px 6px;
      }
      button {
        border: none;
        border-radius: 5px;
        padding: 10px 21px;
        margin-right: 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
      }
      .btn button:first-child{
        background-color: #5cb85c;
      }
      .btn button:nth-child(2){
        background-color: #c9302c;
      }
    }

    .product__content__right {
      padding: 0px 20px 10px;
      font-family: 'Poppins', sans-serif;
      line-height: 1.5;
      overflow: auto;
      height: 300px;
      p {
        color: #999999;
      }
      span {
        color: white;
      }
      h1 {
        color: #f06402;
        font-size: 25px;
        font-weight: 600;
      }
      .social{
        button {
          color: white;
          background-color: #1366c5e0;
          border: none;
          border-radius: 4px;
          padding: 3px 8px;
          margin-right: 10px;
          margin-top: 20px;
          cursor: pointer;
        }
      }
      .rate{
          display: flex;
          margin-top: 12px;
        p{
          background-color: #404040;
          border-radius: 10px;
          padding: 11px;
          font-size: 23px;
          color: #ffe000;
          font-weight: 600;
        }
        .star{
        display: flex;
        flex-direction: column;
        padding: 6px;
        svg{
            color: #f57508;
            font-size: 20px;
        }  
      }
      }
    }
  }
  &__desc{
    margin: 20px 0px;
    .title{
      display: flex;
      h1,svg {
        padding-right: 10px;
        color: #f06402;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
    span{
    color: $color-primary-white;
    display: block;
    font-size: 17px;
    padding-bottom: 5px;  
    }
    p {
      color: #999999;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__img{
    img{
      height: 394px;
      width: 700px;
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 


