*{
	box-sizing: border-box;
}
.all{
	max-width: 1260px;
	margin: auto;
}
.menu-left{
    width: 150px;
    height: 1404px;
    background: gray;
    float: left;
    font-size: 20px;
}
.menu-left a{
    display: block;
    margin: 2px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
#banner{
	position: relative;
	margin-left: 155px;
}
.logo{
	padding: 1px;
	position: absolute;
	top: 14px;
	left: 23px;
}
.menu-left a:hover{
	color: red;
}
.content .img1{
	float: left;
	border: 1px solid black;
	padding: 2px;
	margin-top: 10px;
	margin-left: 4px;
}
.chat{
	position: fixed;
	right: 30px;
	bottom: 30px;
}
.back{
	position: fixed;
	right: 30px;
	bottom: 70px;
}
.footer u{
	font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    padding-left: 50%;
}