*{
	box-sizing: border-box;
}
body{
	background-image: url('image/bg.jpg');
	width: 1200px;
	margin: auto;
}
h1{
	color: white;
	text-transform: uppercase;
	padding: 20px;
}
form {
    padding: 20px;
}
input[type="text"], input[type="password"] {
    width: 30%;
    margin-bottom: 1%;
    font-family: monospace;
    padding-left: 5px;
}
input#male {
    margin-bottom: 1%;
}
label {
    color: white;
}
select {
    margin-bottom: 2%;
    margin-right: 1%;
    width: 6%;
    padding-left: 3px;
}
input[type="submit"] {
    width: 6%;
}
span{
    color: white;
}