// Abstracts
@import './sass/Abstracts/functions';
@import './sass/Abstracts/mixins';
@import './sass/Abstracts/variables';
// base 
@import './sass/Base/base';
@import './sass/Base/typography';
@import './sass/Base/animations';
@import './sass/Base/utilities';
@import './sass/Base/reset.scss';
// Components
@import './sass/Components/button';
// Layouts
@import './sass/Layouts/grid';
//Pages
@import './sass/Pages/_header';

.app{margin: 50px;}
.search{
  padding: 10px;
  font-size: 20px;

}
input {
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
}
.list{
  padding: 0;
  list-style: none;
  text-align: center;
  padding-left: 25%;
  display: block;
}
.listItem {
  padding-right: 140px;
  font-size: 25px;
  color: #444;
  display: inline-block;
  padding-bottom: 20px;
}
td.listItem {
  font-size: 20px;
  width: 120px;
  text-align: center;
}



