.link-item {
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: aqua;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/ 2);
  background-color: bisque;
}

.row .col-1-of-3 {
  width: calc((100% - 2*6rem) / 3);
  background-color: bisque;
}

.row .col-2-of-3 {
  width: calc(2*((100% - 2*6rem) / 3) + 6rem);
  background-color: bisque;
}

.row .col-1-of-4 {
  width: calc((100% - 3*6rem) / 4);
  background-color: bisque;
}

.row .col-2-of-4 {
  width: calc(1*((100% - 3*6rem) / 2) + 6rem);
  background-color: bisque;
}

.row .col-3-of-4 {
  width: calc(3*((100% - 3*6rem) / 4) + 2*6rem);
  background-color: bisque;
}

.row .col-1-of-5 {
  width: calc((100% - 4*6rem) / 5);
  background-color: bisque;
}

.header {
  background-color: #1a94ff;
  height: 80px;
}

.header__screen {
  padding-top: 30px;
  margin: auto;
  padding-left: 26%;
}

.header__screen--calc, .header__screen--quote, .header__screen--todo {
  background-color: beige;
  outline: none;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 25px;
  margin-right: 10px;
  color: brown;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
}

.header__screen button:hover {
  color: #fff;
  background-color: #383333;
}

.app {
  margin: 50px;
}

.search {
  padding: 10px;
  font-size: 20px;
}

input {
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
  padding-left: 25%;
  display: block;
}

.listItem {
  padding-right: 140px;
  font-size: 25px;
  color: #444;
  display: inline-block;
  padding-bottom: 20px;
}

td.listItem {
  font-size: 20px;
  width: 120px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */